PORT=8080
REACT_URL=http://localhost:3000
DATABASE_URL="mysql://root:123456@localhost:3306/pet_clinic_db"
JWT_ACCESS_TOKEN_SECRET=your_access_token_secret
JWT_REFRESH_TOKEN_SECRET=your_refresh_token_secret
EMAIL_APP=your_email@gmail.com
EMAIL_APP_PASSWORD=your_email_app_password
PAYPAL_CLIENT_ID=your_paypal_client_id
