PORT=8080
MONGODB_URI="mongodb+srv://<username>:<password>@cluster.mongodb.net/pet_clinic_db?retryWrites=true&w=majority"
CUSTOMER_APP_URL=http://localhost:3000
ADMIN_APP_URL=http://localhost:3001
JWT_ACCESS_TOKEN_SECRET=your_access_token_secret
JWT_REFRESH_TOKEN_SECRET=your_refresh_token_secret
EMAIL_APP=your_email@gmail.com
EMAIL_APP_PASSWORD=your_email_app_password
PAYPAL_CLIENT_ID=your_paypal_client_id
